h1 {
  height: auto;
  color: black;
  background-color: #f2f2f2;
  text-align: center;
}


#arch {
background-color:red;
 padding:15px;
}

#cat{
  background-color: blue;
  padding: 10px;
}
table, th, td {
    border: 1px solid black;
  }
